<div class="container purple-back">
    <div class="chat-list mat-elevation-z5">
        <div class="search-input">
            <mat-form-field>
                <input  matInput 
                placeholder="Search for users..." 
                [matAutocomplete]="auto"
                [formControl]="searchControl"
                >
                    
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let user of allButCurr" [value]="user.name" >
                        {{ user.name}}
                    </mat-option>
            </mat-autocomplete>
        </div>
        <mat-selection-list class="names-list" 
        [multiple]="false" >
        <!-- [formControl]="" -->
            <mat-divider ></mat-divider>
            <mat-list-option  *ngFor="let userChat of allButCurr" [value]="userChat" (click)="onOptionSelection(userChat)" >
                <p mat-line class="chat-title">
                    <span class="chat-name">
                        {{userChat.name}}
                    </span>
                    <span class="chat-date">
                        {{currentDate | date: 'dd/MM/yyyy'}}
                    </span>
                </p>
                <!-- <p mat-line class="chat-ht">
                    {{"testing"}} 
                </p> -->
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div> 
    <div class="messages mat-elevation-z5">
        <div class="messages-header">
        <!-- *nfif -->
        <h2>
            <!-- {{currentUser.name}} (You) -->
            <p style="display: flex; justify-content: space-between; width: 700px;" mat-line class="chat-title">
                <span class="chat-name" style="z-index:1;">
                    {{receiver.name}}
                </span>
                <span style="z-index:2;" class="chat-name">
                    {{currentUser.name}} (You)
                </span>
            </p>
        </h2>
        </div>
        <!-- <ng-template #noMessages>
            <div class="messages-header"><h2>Messages</h2></div>
        </ng-template> -->
        <mat-divider></mat-divider>
        <div class="chat-area">
            <!-- <ng-container > -->
           
                <div *ngFor="let sentMsg of completeChatHistory" class="chat-bubble-container" [ngClass]="{'sender': sentMsg.message.senderId === currentUser._id}">
                    <div class="chat-bubble" *ngIf="!(sentMsg._id===chatDivToDeleteId && currentUser===sentMsg.message.senderId)" >
                        
                        {{sentMsg.message.text}}
                        <span class="chat-date">
                            {{currentDate | date: 'dd/MM/yyyy'}}
                        </span>
                    </div>
                    
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon button with a horizontal three dot icon" *ngIf="!(sentMsg._id===chatDivToDeleteId && currentUser===sentMsg.message.senderId) "> 
                        
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openInputPopup(sentMsg._id)">Edit</button>
                          <button mat-menu-item (click)="onDeleteMessage(sentMsg._id,sentMsg.message.senderId)">Delete</button>
                      </mat-menu>
                </div>
            <!-- </ng-container> -->
        </div>
        <div class="input-area">
            <mat-form-field  appearance="outline">
                <input [(ngModel)]="textMessage" matInput placeholder="Jot something down" (keydown.enter)="sendMessage()"/>
                <button mat-icon-button  matSuffix (click)="sendMessage()">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div> 
</div>